<html ng-app="heroi">

<head>
<meta charset="UTF-8">
<title>Lista de Herois</title>
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/app.css">
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-messages.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/heroiCtrl.js"></script>
<script src="js/services/heroisService.js"></script>
</head>

<body ng-controller="heroiCtrl as vm" ng-init="vm.init()">
	<div class="jumbotron">
		<h3>{{vm.app}}</h3>
		{{vm.message}}
		<hr />
		<div ng-if="vm.login">
			<form>
				<div class="form-group">
					<label>Login</label> <input type="texto" class="form-control"
						placeholder="SuperFulano012" ng-model="vm.user.nickname">
				</div>
				<div class="form-group">
					<label>Senha</label> <input type="password" class="form-control"
						ng-model="vm.user.senha">
				</div>
				<button class="btn btn-success" ng-click="vm.irLogin(vm.user)">Entrar</button>
				<button class="btn btn-primary" ng-click="vm.irCadastrar()">Cadastrar</button>
			</form>
		</div>

		<div ng-if="vm.cadastrar">
			<form>
				<div class="form-group">
					<label>Login</label> <input type="texto" class="form-control"
						placeholder="SuperFulano012" ng-model="vm.user.nickname">
				</div>
				<div class="form-group">
					<label>Senha</label> <input type="password" class="form-control"
						ng-model="vm.user.senha">

				</div>
				<div class="form-group">
					<label>Heroi</label> <select name="heroi" id="heroi"
						class="form-control"
						ng-options="heroi as heroi.nome for heroi in vm.herois"
						ng-model="vm.user.heroi"></select>
					<div ng-if="vm.user.heroi">
						<span>Vida:{{vm.user.heroi.vida}}</span><br> <span>Ataque:{{vm.user.heroi.ataque}}</span><br>
						<span>Forca:{{vm.user.heroi.forca}}</span><br> <span>Inteligencia:{{vm.user.heroi.inteligencia}}</span><br>
						<span>Defesa:{{vm.user.heroi.defesa}}</span><br> <span>Velocidade:{{vm.user.heroi.velocidade}}</span><br>
						<span>Poder:{{vm.user.heroi.poder}}</span><br>
					</div>
				</div>
				<button class="btn btn-success"
					ng-click="vm.cadastrarJogador(vm.user)">Cadastrar</button>
				<button ng-click="vm.voltarParaLogin()" class="btn btn-primary">Voltar</button>
			</form>
		</div>

		<div ng-if="vm.batalha">
			<form>
				<div class="form-group">
					<label> Nickname: </label> <label>{{vm.user.nickname}}</label><br>

					<label>Heroi: </label> <label>{{vm.user.heroiDto.nome}}</label><br>

					<form>
						<div class="form-group">

							<div class="form-group">
								<label>Escolha Adversário: </label> <select name="jogador"
									id="jogador" class="form-control"
									ng-options="jogador as jogador.nickname for jogador in vm.listJogadores"
									ng-model="vm.jogador"></select>
								<div ng-if="vm.jogador">
									<span>Nome:{{vm.jogador.nickname}}</span><br> <span>Heroi:{{vm.jogador.heroiDto.nome}}</span><br>
								</div>
							</div>

							<label> RESULTADO: </label> <br> <label>{{vm.vencedor.nickname}}</label>
							<labe
								ng-show="vm.vencedor.nickname != 'Empate' && vm.vencedor.nickname != null">
							venceu</labe>
							<br>

							<button class="btn btn-success"
								ng-click="vm.irResultado(vm.jogador)">Batalhar</button>
					</form>

					<button ng-click="vm.voltarParaLogin()" class="btn btn-primary">Voltar</button>
			</form>
			</form>
		</div>

	</div>
</body>

</html>